<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.godwin.mapper.OrderMasterMapper">

    <select id="findByOrderId"  parameterType="String" resultType="OrderMaster">
        select * from order_master where order_id =#{orderId};
    </select>


    <insert id="add" parameterType="OrderMaster">
        insert into order_master(order_id,buyer_name,buyer_phone,buyer_address,buyer_openid,order_amount,order_status,pay_status,create_time,update_time)
        values(#{orderId},#{buyerName},#{buyerPhone},#{buyerAddress},#{buyerOpenid},#{orderAmount},#{orderStatus},#{payStatus},now(),now());
    </insert>

    <update id="update" parameterType="OrderMaster">
        update order_master
        set buyer_name=#{buyerName},
        buyer_phone=#{buyerPhone},
        buyer_address=#{buyerAddress},
        buyer_openid=#{buyerOpenid},
        order_amount=#{orderAmount},
        order_status=#{orderStatus},
        pay_status=#{payStatus},
        update_time=now()
        where order_id=#{orderId};
    </update>

    <select id="findByBuyerOpenid" parameterType="String" resultType="OrderMaster">
        select * from order_master where buyer_openid like '%${buyerOpenid}%'
    </select>

    <select id="getQuery" resultType="OrderMaster">
        select * from order_master
    </select>
</mapper>